---

import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";

const identity = {
  firstName: "Grant",
  country: "Japan",
  occupation: "Head of Business Development - Japan",
  hobbies: ["Cooking", "Language Learning", "Web Development"],
};

const devSkills = ["HTML", "CSS", "JavaScript", "React", "Astro", "PHP"];

const softSkills = ["intercultural communication","public speaking","sales","negotiating"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
//const bgColor = "f9f9f9";
const pColor = "010101";
---
<BaseLayout pageTitle={pageTitle}>

    <h2>My new astro site</h2>

    <p>Here's a few things about me...</p>

    <ul>
        <li>My name is {identity.firstName}</li>
        <li>I live in {identity.country}</li>
        { identity.hobbies.length >= 2 && 
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>
    <p>My soft skills are:</p>
    <ul>
        {softSkills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    <p>My dev skills are:</p>
    <ul>
        {devSkills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro</p>}

    {finished && <p>I am finished with the tutorial!</p>}

    {goal === 3 ? <p>My goal is to finish in 3 days</p> : <p>My goal is not 3 days.</p>}

</BaseLayout>